<div ng-controller="DashboardCtrl" class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.settings.asideFolded = false; app.settings.asideDock = false;">
  <!-- main --->
  <div class="col">
    <div class="wrapper-md">
        
        
        
        <div class="row">
       
            <div class="col-md-10">
              <div class="panel panel-default">
                <div class="panel-heading font-bold">Options:</div>

                  <form style="padding:10px" role="form" class="form-inline ng-pristine ng-valid">
                      <div class="form-group" style="width:100%; display: inline-block;">
                              <span ng-show="admin" class="form-group" style="float:left;">
                                <label style="padding-left:8px;">Clients:</label>
                                <select placeholder="Select Client"  class="w-md" ng-change="changeClient()" ng-model="selectedClient" style="width:230px;">
                                     <option ng-repeat="client in clients" value="">{{client.name}}</option>
                                </select>
                            </span>
                                   
                            <span class="form-group" style="float:left;">
                                <label style="padding-left:8px;">Database:</label>
                                <select placeholder="Select Database"  class="w-md" ng-change="changeDatabase()" ng-model="selectedDatabase" style="width:230px;">
                                     <option ng-repeat="database in databases" value="{{database.id_database}}">{{database.name}}</option>
                                </select>
                            </span>
                        
                            <span class="form-group" style="float:left;padding-left: 10px;">
                              <button class="btn btn-sm btn-info btn-rounded" id="refresh" ng-click="refresh()" ui-toggle-class="btn-success">
                                  <i class="fa fa-refresh"></i>
                                  <span class="text">Refresh</span>
                                  <i class="fa fa-check text-active">&nbsp;</i>
                                  <span class="text-active">Success</span>
                              </button>
                          </span>

                          <span class="form-group" style="float:left;">   
                              <label style="padding-left: 8px;float:left;">Auto-Refresh:</label>
                              <div class="col-sm-2" style="float:left;display:inline; width:70px;">
                                  <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                                    <input type="checkbox" ng-checked="eachSelectDisable" checked=""  ng-click="eachEnable()">
                                    <i></i>
                                  </label>
                              </div>
                          </span>

                          <div dropdown="" class="btn-group dropdown" style="float:left;">
                              <button ng-disabled="!eachSelectDisable" dropdown-toggle="" class="btn btn-default" type="button" aria-haspopup="true" aria-expanded="false">
                                <span id="eachTxt">Actualizar cada:</span>
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="" ng-click="refreshEach(10, '10 seg')">10 seg</a></li>
                                <li><a href="" ng-click="refreshEach(15, '15 seg')">15 seg</a></li>
                                <li><a href="" ng-click="refreshEach(30, '30 seg')">30 seg</a></li>
                                <li><a href="" ng-click="refreshEach(45, '45 seg')">45 seg</a></li>
                                <li><a href="" ng-click="refreshEach(60,  '1 min')">1 min</a></li>
                                <li><a href="" ng-click="refreshEach(300,  '5 min')">5 min</a></li>
                                <li><a href="" ng-click="refreshEach(600,  '10 min')">10 min</a></li>
                                <li><a href="" ng-click="refreshEach(900,  '15 min')">15 min</a></li>
                              </ul>
                          </div>
                    </div>
                </form>
              </div>

            </div>
      
            </div>
                                
          <!-- Pasta -->
          <div class="col-md-10">
          <div class="wrapper-md bg-white-only b-b">
            <div class="row text-center">
              <div class="col-sm-4 col-xs-6">
                <div>Today</div>
                <div class="h2 m-b-sm">{{respRevenue.element.today}}€</div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div>Current Month</div>
                <div class="h2 m-b-sm">{{respRevenue.element.actual_month}}€</div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div>Previus Month</div>
                <div class="h2 m-b-sm">{{respRevenue.element.last_month}}€</div>
              </div>
            </div>    
          </div>
          <!--div class="wrapper-md">
              <div class="panel-body text-center">
      <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
          <div>Todays activity</div>
          <div class="inline m-t easyPieChart" ui-options="{
              percent: 75,
              lineWidth: 4,
              trackColor: '#e8eff0',
              barColor: '#7266ba',
              scaleColor: false,
              size: 115,
              rotate: 90,
              lineCap: 'butt'
            }" ui-jq="easyPieChart" style="width: 115px; height: 115px; line-height: 115px;">
            <div>
              <span class="text-primary h3">75%</span>
            </div>
          <canvas height="115" width="115"></canvas></div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div>Active Players</div>
          <div class="inline m-t easyPieChart" ui-options="{
              percent: 35,
              lineWidth: 4,
              trackColor: '#e8eff0',
              barColor: '#23b7e5',
              scaleColor: false,
              size: 115,
              rotate: 0,
              lineCap: 'butt'
            }" ui-jq="easyPieChart" style="width: 115px; height: 115px; line-height: 115px;">
            <div>
              <span class="text-info h3">35%</span>
            </div>
          <canvas height="115" width="115"></canvas></div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div>Weekly Changes</div>
          <div class="inline m-t easyPieChart" ui-options="{
              percent: 50,
              lineWidth: 4,
              trackColor: '#e8eff0',
              barColor: '#fad733',
              scaleColor: false,
              size: 115,
              rotate: 180,
              lineCap: 'butt'
            }" ui-jq="easyPieChart" style="width: 115px; height: 115px; line-height: 115px;">
            <div>
              <span class="text-warning h3">50%</span>
            </div>
          <canvas height="115" width="115"></canvas></div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div>Monthly Changes</div>
          <div class="inline m-t easyPieChart" ui-options="{
              percent: 60,
              lineWidth: 4,
              trackColor: '#e8eff0',
              barColor: '#27c24c',
              scaleColor: false,
              size: 115,
              rotate: 90,
              lineCap: 'butt'
            }" ui-jq="easyPieChart" style="width: 115px; height: 115px; line-height: 115px;">
            <div>
              <span class="text-success h3">60%</span>
            </div>
          <canvas height="115" width="115"></canvas></div>
        </div>
      </div></div>
    </div-->
          </div>
          <!-- Fin Pasta-->
            
            <!-- Comienzo Gráficos Porcentajes-->       
             <!div class="row">
        <div class="col-md-10" style="margin-top:10px;">
          <div class="row row-sm text-center">
            <div class="col-xs-3">
                
                <div class="panel panel-default">
                        <div class="panel-heading font-bold">Delivered</div>
                        <div class="padder-v item" style="padding-top:40px;">
                            <div class="h1 text-info font-thin h1">{{respDashBox01.element.total_deliveries}}</div>
                            <span class="text-muted text-xs">Total Deliveries</span>
                        </div>
                </div>
            
            </div>
            <!--div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                  Bounces
                </div>
                <div class="panel-body text-center">
                  <small class="text-muted block">Total Bounces: {{respDashBox01.element.total_bounces}}</small>
                  <div class="inline">
                    <div ui-jq="easyPieChart"  ui-refresh="updateGraph" ui-options="{
                              percent: {{respDashBox01.element.porB}},
                              lineWidth: 10,
                              trackColor: '#e8eff0',
                              barColor: '#10A7E8',
                              scaleColor: '#e8eff0',
                              size: 120,
                              lineCap: 'butt',
                              animate: 1000
                            }">
                      <div>
                        <span class="h2 m-l-sm step">{{respDashBox01.element.porB }}</span>%
                        <div class="text text-sm">today</div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div-->
            <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                  Opens
                </div>
                <div class="panel-body text-center">
                  <small class="text-muted block">Totales Openned: {{respDashBox01.element.total_openned}}</small>
                  <div class="inline">
                    <div ui-jq="easyPieChart"  ui-refresh="updateGraph" ui-options="{
                              percent: {{respDashBox01.element.porAT }},
                              lineWidth: 10,
                              trackColor: '#e8eff0',
                              barColor: '#27c24c',
                              scaleColor: '#e8eff0',
                              size: 120,
                              lineCap: 'butt',
                              animate: 1000
                            }">
                      <div>
                        <span class="h2 m-l-sm step">{{respDashBox01.element.porAT }}</span>%
                        <div class="text text-sm">today</div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            <div class="col-xs-3">
             <div class="panel panel-default">
                <div class="panel-heading font-bold">
                  Clicks
                </div>
                <div class="panel-body text-center">
                  <small class="text-muted block">Total Clicks: {{respDashBox01.element.total_clicked}}</small>
                  <div class="inline">
                    <div ui-jq="easyPieChart" ui-refresh="updateGraph" ui-options="{
                              percent: {{respDashBox01.element.porCT }},
                              lineWidth: 10,
                              trackColor: '#e8eff0',
                              barColor: '#27c24c',
                              scaleColor: '#e8eff0',
                              size: 120,
                              lineCap: 'butt',
                              animate: 1000
                            }">
                      <div>
                        <span class="h2 m-l-sm step">{{respDashBox01.element.porCT }}</span>%
                        <div class="text text-sm">today</div>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
            </div>
            <div class="col-xs-3">
              
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                  Conversions
                </div>
                <div class="panel-body text-center">
                  <small class="text-muted block">Total Conversion: {{respDashBox01.element.total_conversion}}</small>
                  
                  <div class="inline">
                    <div ui-jq="easyPieChart"  ui-refresh="updateGraph" ui-options="{
                              percent: {{respDashBox01.element.porConv }},
                              lineWidth: 10,
                              trackColor: '#e8eff0',
                              barColor: '#27c24c',
                              scaleColor: '#e8eff0',
                              size: 120,
                              lineCap: 'butt',
                              animate: 2000
                            }">
                      <div>
                        <span class="h2 m-l-sm step">{{respDashBox01.element.porConv }}</span>%
                        <div class="text text-sm">today</div>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
            </div>
          </div>
        </div>
        </div-->
                                
        <div class="row">
            <style>
                    .header_table, .footer_table {background-color:#58666e; color:#edf1f2; border: 1px solid #edf1f2}
                    .table_ th,.table_ td {
                        font-size:12px; 
                        vertical-align: top; 
                        text-align: center; 
                        padding: 8px 3px; 
                        line-height: 1.42857;
                        border-right:1px solid #edf1f2;
                    }
                    </style>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading font-bold" style="height: 54px;">

                    <span style="float:left;padding-top:7px;">Histórico período:</span>
                    <div class="col-sm-4" style="float:left;">
                        <input ui-jq="daterangepicker" ng-model="daterangeBox02" ng-change="changeDateBox02()" ui-options="{
                            format: 'YYYY-MM-DD',
                            startDate:  '{{ "now"       |date("Y-m-01") }}',
                            endDate:    '{{ "now"       |date("Y-m-d") }}',
                            ranges: {
                                    'Today':    ['{{ "now"       |date("Y-m-d") }}'  , '{{ "now"      |date("Y-m-d") }}'    ],
                                'Yesterday':    ['{{ "-1days"    |date("Y-m-d") }}'  , '{{ "-1days"   |date("Y-m-d") }}'    ],
                                'Last 7 Days':  ['{{ "-7days"    |date("Y-m-d") }}'  , '{{ "now"      |date("Y-m-d") }}'    ],
                                'Last 30 Days': ['{{ "-30days"   |date("Y-m-d") }}'  , '{{ "now"      |date("Y-m-d") }}'    ],
                                'This Month':   ['{{ "now"       |date("Y-m-01") }}' , '{{ "now"      |date("Y-m-d") }}'    ],
                                'Last Month':   ['{{ "-30days"   |date("Y-m-01") }}' , '{{ "-30days"  |date("Y-m-30")}}'    ]
                             }
                          }" class="form-control w-md" />
                    </div>

                </div>
                           
                    
                    <table ng-init="items.total = {'openned':0, 'clicked':0}" class="table_ table-striped m-b-none" style="border-collapse: collapse; border-spacing: 0; background-color: transparent; max-width: 100%;width: 100%;">
                        <thead>
                          <tr class="header_table">
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='date'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>Fecha</u>&nbsp;<span ng-show="respDashBox02.predicate == 'date'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='total_payout'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>Estimated Payout</u>&nbsp;<span ng-show="respDashBox02.predicate == 'total_payout'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='total_deliveries'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>Delivered</u>&nbsp;<span ng-show="respDashBox02.predicate == 'total_deliveries'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='total_openned'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>Opens</u>&nbsp;<span ng-show="respDashBox02.predicate == 'total_openned'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='open_rate'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>Open Rate</u>&nbsp;<span ng-show="respDashBox02.predicate == 'open_rate'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='total_clicked'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>Clicks</u>&nbsp;<span ng-show="respDashBox02.predicate == 'total_clicked'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='ctr'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>CTR</u>&nbsp;<span ng-show="respDashBox02.predicate == 'ctr'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='epc'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>EPC</u>&nbsp;<span ng-show="respDashBox02.predicate == 'epc'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                            <th>
                                <a href="#" ng-click="respDashBox02.predicate='epm'; respDashBox02.reverse = !respDashBox02.reverse">
                                    <u>ePM</u>&nbsp;<span ng-show="respDashBox02.predicate == 'epm'"><span ng-show="!respDashBox02.reverse">^</span><span ng-show="respDashBox02.reverse">v</span></span>
                                </a>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="element in respDashBox02.elements | orderBy:respDashBox02.predicate:respDashBox02.reverse">
                                <td><strong>{{element.date}}<strong></td>
                                <td ng-init="items.total.payout        = items.total.payout     + (1*element.total_payout)">{{element.total_payout }}€</td>
                                <td ng-init="items.total.deliveries    = items.total.deliveries + (1*element.total_deliveries)">{{element.total_deliveries }}</td>
                                <td ng-init="items.total.openned       = items.total.openned    + (1*element.total_openned)">{{element.total_openned}}</td>
                                <td>{{element.open_rate}}%</td>
                                <td ng-init="items.total.clicked       = items.total.clicked    + (1*element.total_clicked)">{{element.total_clicked}}</td>
                                <td ng-init="items.total.ctr           = items.total.ctr        + (1*element.ctr)">{{element.ctr}}%</td>
                                <td ng-init="items.total.epc           = items.total.epc        + (1*element.epc)">{{element.epc}}%</td>
                                <td ng-init="items.total.epm           = items.total.epm        + (1*element.epm)">{{element.epm}}%</td>
                            </tr>
                      </tbody>
                      <tfoot>
                          <tr class="footer_table table_ th">
                            <td><strong>Total:</strong></td>
                            <td><strong>{{items.total.payout}}€<strong></td>
                            <td><strong>{{items.total.deliveries}}<strong></td>
                            <td><strong>{{items.total.openned }}<strong></td>
                            <td><strong>%<strong></td>
                            <td><strong>{{items.total.clicked}}<strong></td>
                            <td><strong>%<strong></td>
                            <td><strong>{{items.total.epc }}%<strong></td>
                            <td><strong>{{items.total.epm }}%<strong></td>
                          </tr>
                        </tfoot>
                    </table>
                </div>
          </div>
        </div>
            
            <!-- Fin Gráficos Porcentajes-->
        </div>
    </div>
  <!-- / main -->
</div>
